    /* 
        Set the Style for parent CSS Class 
        of Calendar control 
        Parent [CssClass] = myCalendar 
    */  
    .myCalendar {  
        background-color: #efefef !important;  
        width:100%;
        font-family:Arial !important;
        border:0 !important;
    }  
    
    .prev {
        transform:rotate(90deg) !important;
        -ms-transform:rotate(90deg) !important; /* IE 9 */
        -webkit-transform:rotate(90deg) !important; /* Opera, Chrome, and Safari */
    }
    
    .next {
        transform:rotate(-90deg) !important;
        -ms-transform:rotate(-90deg) !important; /* IE 9 */
        -webkit-transform:rotate(-90deg) !important; /* Opera, Chrome, and Safari */
    }
      
    /* 
        Common style declaration for hyper linked text 
    */  
    .myCalendar a {  
        text-decoration: none  !important;
    }  
    
     .myCalendar th   
     {
         padding:10px !important;  
         background:#ccc !important;
         text-align:center !important;
    }  
    
    .myCalendar td 
     {
         background:none !important;
         padding:0 !important;
         text-align:center !important;
         vertical-align:middle !important;
    }
    
    .myCalendar td img
     {
         height:22px;
     }
      
      
    /* 
        Styles declaration for date cells 
        [DayStyle] [CssClass] = myCalendarDay 
    */  
    .myCalendar td.myCalendarDay {  
        border: solid 1px #fff !important;  
        border-left: 0 !important;  
        border-top: 0 !important;
        padding:5px !important; 
    }  
      
    /* 
        Styles declaration for next/previous month links 
        [NextPrevStyle] [CssClass] = myCalendarNextPrev 
    */  
    .myCalendar .myCalendarNextPrev {  
        text-align: center !important;  
        color:#fff !important;
        background:none !important;
    }  
      
    /* 
        Styles declaration for Week/Month selector links cells 
        [SelectorStyle] [CssClass] = myCalendarSelector 
    */  
    
      .myCalendar td.SelectedDay 
    {
        background-color:Blue !important;  
        color:#fff !important;
        font-weight:bold !important;
        vertical-align:middle !important;
    }
    
    .myCalendar td.myCalendarSelector {  
        
    }  
      
    .myCalendar .myCalendarDay a,   
    .myCalendar .myCalendarSelector a,  
    .myCalendar .myCalendarNextPrev a {  
        display: block !important;  
        line-height: 18px !important;  
        padding:12px !important;
    }  

      
    .myCalendar .myCalendarNextPrev a:hover {  
        background-color: rgba(255,255,255,0.1) !important;  
    } 
    
    /* 
        Styles declaration for top title 
        [TitleStyle] [CssClass] = myCalendarTitle 
    */  
    .myCalendar .myCalendarTitle {  
        font-weight: bold !important;  
        
        color:#fff !important;
        background:#5b6f55 !important;
        vertical-align:middle !important;
        
    }  
    
    .myCalendarTitle td {  

        vertical-align:middle !important;
        font-size:18px !important;
        font-weight: normal !important;  
    }  
    
    .myCalendar .myCalendarDay a:hover,   
    .myCalendar .myCalendarSelector a:hover {  
        background-color: #cdd7ca !important;
        font-weight:bold !important;
    }  
    
 .myCalendar   .selected
{
	background-color:#669de2 !important;
	color:#fff !important;
}

 .myCalendar .selected a
{
	text-decoration:none;
	color:#fff;
}